.type-1911 {
  margin-top: 15px;
}
.type-1911 .title-widget-adv {
  background: #FE9C00 none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 11px 20px;
  text-transform: uppercase;
}
.type-1911 .title-widget-adv span {
  font-size: 18px;
}
.type-1911 .img-responsive {
  width: 100%;
  height: auto;
}
.type-1911 .swiper-container {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.type-1911 .swiper-container .promotion {
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 100%;
}
.type-1911 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 480px) and (min-width: 413px) {
  .type-1911 .promotion h3 {
    font-size: 20px;
  }
  .type-1911 .promotion h2 {
    font-size: 25px;
  }
  .type-1911 .title-widget-adv strong {
    font-size: 22px;
  }
  .type-1911 .title-widget-adv span {
    font-size: 15px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .type-1911 .promotion h3 {
    font-size: 25px;
  }
  .type-1911 .promotion h2 {
    font-size: 30px;
  }
  .type-1911 .title-widget-adv strong {
    font-size: 25px;
  }
  .type-1911 .title-widget-adv span {
    font-size: 17px;
  }
}
