.type-1907 .new-form {
  background: #4BAE4F;
}
.type-1907 .new-form .newsletter-form h2.newsletter {
  float: left;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  margin: 24px 20px 24px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.type-1907 .new-form .newsletter-form form.wp-form-email {
  position: relative;
}
.type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
  display: inline-block;
  max-width: 520px;
  height: 40px;
  top: 20.5px;
  padding-right: 120px;
  position: relative;
  width: 100%;
  border: medium none;
  padding: 0 20px;
}
.type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
  background: #ccdb38 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: 40px;
  position: absolute;
  right: 33.7%;
  text-transform: uppercase;
  top: 20.5px;
  width: 120px;
}
.type-1907 .footer-before {
  margin-top: 3.8%;
}
.type-1907 .footer-before .row {
  margin: 0;
}
.type-1907 .footer-before .wpb_wrapper {
  border-right: 1px solid #e5e5e5;
}
.type-1907 .footer-before .wpb_wrapper .footer-box h2 {
  color: #4BAE4F;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.type-1907 .footer-before .wpb_wrapper .footer-box ul.footer-menu-box {
  padding: 0;
}
.type-1907 .footer-before .wpb_wrapper .footer-box ul.footer-menu-box li {
  margin-bottom: 10px;
  list-style: none;
}
.type-1907 .footer-before .wpb_wrapper .footer-box ul.footer-menu-box li a {
  text-decoration: none;
  color: #555;
  padding: 0;
}
.type-1907 .footer-before .wpb_wrapper .footer-box ul.footer-menu-box li a:hover {
  color: #4BAE4F;
}
.type-1907 .footer-before .column-inner .footer-box h2 {
  color: #4BAE4F;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact {
  padding: 0;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li {
  margin-bottom: 10px;
  list-style: none;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li a {
  color: #555;
  padding: 0;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li a:hover {
  color: #4BAE4F;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li i.fa-home {
  color: #4BAE4F;
  font-size: 18px;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li i.fa-mobile {
  color: #4BAE4F;
  font-size: 18px;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li i.fa-envelope {
  color: #4BAE4F;
  font-size: 18px;
}
.type-1907 .footer-before .column-inner .footer-box ul.footer-box-contact li a.footer-email {
  color: #4BAE4F;
}
.type-1907 .footer-before .column-inner .social-footer {
  margin-top: 41px;
}
.type-1907 .footer-before .column-inner .social-footer ul {
  display: inline-flex;
  padding: 0;
}
.type-1907 .footer-before .column-inner .social-footer ul li {
  margin-bottom: 10px;
  list-style: none;
}
.type-1907 .footer-before .column-inner .social-footer ul li i {
  margin: 5px;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-facebook {
  background: #8d929b;
  padding: 12px 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-linkedin {
  background: #8d929b;
  padding: 12px 14px;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-twitter {
  background: #8d929b;
  padding: 12px 13px;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-google-plus {
  background: #8d929b;
  padding: 12px 11px;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-pinterest {
  background: #8d929b;
  padding: 12px 14px;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-facebook:hover {
  background: #3B5998;
  opacity: 1;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-linkedin:hover {
  background: #4875B4;
  opacity: 1;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-twitter:hover {
  background: #33CCFF;
  opacity: 1;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-google-plus:hover {
  background: #C63D2D;
  opacity: 1;
}
.type-1907 .footer-before .column-inner .social-footer ul li i.fa-pinterest:hover {
  background: #D50019;
  opacity: 1;
}
.type-1907 .footer-after {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 40px 0 35px;
}
.type-1907 .footer-after .row {
  margin: 0;
}
.type-1907 .footer-after .footer_column-inner-before {
  display: inline-flex;
}
.type-1907 .footer-after .footer_column-inner-before .copyrigh a {
  color: #4bae4f;
}
.type-1907 .footer-after .footer_column-inner-before .policy {
  padding: 0px 0 0 20px;
}
.type-1907 .footer-after .footer_column-inner-before .policy a {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 6px;
  margin-right: 3px;
  height: 14px;
  line-height: 14px;
  color: #555;
}
.type-1907 .footer-after .footer_column-inner-before .policy a:hover {
  color: #4bae4f;
}
.type-1907 .footer-after .footer_column-inner-before .policy a:last-child {
  border: medium none;
  margin: 0;
  padding: 0;
}
.type-1907 .footer-after .footer-column-inner-after {
  float: right;
}
.type-1907 .footer-after .footer-column-inner-after .payment-method label {
  font-weight: 400;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.type-1907 .footer-after .footer-column-inner-after .payment-method a img {
  transition: all 0.5s ease-in-out;
}
.type-1907 .footer-after .footer-column-inner-after .payment-method a img:hover {
  transform: scale(1.2);
}
@media (max-width: 1199px) and (min-width: 990px) {
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    right: 12.7%;
  }
}
@media (max-width: 989px) and (min-width: 764px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    padding: 0 14px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    width: 40%;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    right: 22%;
  }
  .type-1907 .footer-before .wpb_wrapper .footer-box h2 {
    font-size: 15px;
  }
  .type-1907 .footer-before .wpb_wrapper ul.footer-menu-box {
    font-size: 13px;
  }
  .type-1907 .footer-before .column-inner .footer-box h2 {
    font-size: 15px;
  }
  .type-1907 .footer-before .column-inner ul.footer-box-contact {
    font-size: 13px;
  }
  .type-1907 .footer-before .column-inner .social-footer {
    margin-top: 15px;
  }
  .type-1907 .footer-before .column-inner .social-footer ul li a i.fa-facebook {
    padding: 6px 9px;
  }
  .type-1907 .footer-before .column-inner .social-footer ul li a i.fa-linkedin {
    padding: 6px 8px;
  }
  .type-1907 .footer-before .column-inner .social-footer ul li a i.fa-twitter {
    padding: 6px 8px;
  }
  .type-1907 .footer-before .column-inner .social-footer ul li a i.fa-google-plus {
    padding: 6px 5px;
  }
  .type-1907 .footer-before .column-inner .social-footer ul li a i.fa-pinterest {
    padding: 6px 9px;
  }
}
@media (max-width: 763px) and (min-width: 620px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    font-size: 20px;
    padding: 0 15px;
    margin: 25px 20px 25px 0;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    right: -5%;
    top: 21px;
    width: 60%;
    height: 28px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    width: 85px;
    height: 28px;
    top: 21px;
    right: 3%;
    font-size: 11px;
  }
}
@media (max-width: 619px) and (min-width: 480px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    font-size: 20px;
    padding: 0 15px;
    margin: 24px 20px 25px 0;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    right: -1%;
    top: 23px;
    width: 53%;
    height: 22px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    width: 85px;
    height: 22px;
    top: 23px;
    right: 3%;
    font-size: 11px;
  }
}
@media (max-width: 479px) and (min-width: 380px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    right: -6%;
    top: -17px;
    width: 71%;
    height: 22px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    width: 85px;
    height: 22px;
    top: 53px;
    right: 6%;
    font-size: 11px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    right: -6%;
    top: -17px;
    width: 71%;
    height: 22px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    width: 85px;
    height: 22px;
    top: 53px;
    right: 6%;
    font-size: 11px;
  }
  .type-1907 .wpb_wrapper {
    border: none !important;
    text-align: center;
  }
  .type-1907 .column-inner {
    text-align: center;
  }
}
@media (max-width: 319px) and (min-width: 220px) {
  .type-1907 .new-form .newsletter-form h2.newsletter {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="text"] {
    right: -6%;
    top: -17px;
    width: 71%;
    height: 22px;
  }
  .type-1907 .new-form .newsletter-form form.wp-form-email .wp-form-fields input[type="submit"] {
    width: 85px;
    height: 22px;
    top: 53px;
    right: 6%;
    font-size: 11px;
  }
  .type-1907 .wpb_wrapper {
    border: none !important;
    text-align: center;
  }
  .type-1907 .column-inner {
    text-align: center;
  }
  .type-1907 .footer_column-inner-before p.copyrigh {
    font-size: 13px;
  }
  .type-1907 .footer_column-inner-before .policy {
    font-size: 13px;
  }
  .type-1907 .payment-method label {
    font-size: 13px;
  }
}
