.type-1906 .client-says {
  padding: 0 15px;
}
.type-1906 span {
  font-weight: bold;
}
.type-1906 img {
  transition: all 0.7s ease-in-out;
}
.type-1906 img:hover {
  transform: scale(1.3);
}
.type-1906 .pic-hover {
  overflow: hidden;
}
.type-1906 p.post-desc {
  font-size: 17px;
  color: #666;
  line-height: 25px;
}
.type-1906 h5 {
  color: #999;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-right: 5px;
  padding-right: 10px;
  font-size: 15px;
}
.type-1906 a:hover {
  text-decoration: none;
  color: #333;
}
.type-1906 a {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 20px;
  color: #4bae4f;
}
.type-1906 .info-pic {
  margin-top: -25px;
}
.type-1906 .swiper-controls {
  position: relative;
  top: -75px;
  float: right;
  margin-bottom: -40px;
  font-size: 0;
}
.type-1906 .swiper-controls .prev-arroww {
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  position: static;
  margin: 0 0 0 1px;
  background: #707070;
  opacity: 1;
  text-align: center;
}
.type-1906 .swiper-controls .next-arroww {
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  position: static;
  margin: 0 0 0 1px;
  background: #707070;
  opacity: 1;
  text-align: center;
}
.type-1906 .swiper-controls .prev-arroww:hover,
.type-1906 .swiper-controls .next-arroww:hover {
  border-color: #7ccbfc;
}
.type-1906 .qoutation-slider--higher {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 1;
  display: inline-block;
  width: 100%;
}
.type-1906 .swiper-wrapper {
  position: relative;
  width: 8190px;
  transition-duration: 0.3s;
  height: 173px;
  transition-property: transform, left, top;
  box-sizing: content-box;
}
.type-1906 .swiper-slide {
  float: left;
}
.type-1906 img {
  max-width: 100%;
  height: auto;
  border: 0 none;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .type-1906 .qoutation-slider-controls {
    top: -45px;
  }
  .type-1906 .qoutation-slider--higher {
    max-height: 380px;
  }
  .type-1906 .client-says {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .type-1906 span {
    font-size: 25px;
  }
  .type-1906 .client-says {
    padding: 0 30px;
  }
  .type-1906 .qoutation-slider-controls {
    margin-bottom: 5px;
  }
  .type-1906 .swiper-controls {
    top: -45px;
    float: right;
    margin-bottom: 20px;
  }
  .type-1906 .swiper-wrapper {
    max-height: 438px;
  }
  .type-1906 .swiper-container {
    margin-top: -65px;
  }
  .type-1906 .info-pic {
    margin-top: -25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  .type-1906 .info-pic {
    margin-top: -25px;
  }
  .type-1906 .client-says {
    padding: 0 15px;
  }
}
