.type-1911 {
  margin-top: 15px;
}
.type-1911 .title_sale {
  word-break: break-word;
}
.type-1911 .title-widget-adv {
  background: #FE9C00 none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 11px 20px;
  text-transform: uppercase;
}
.type-1911 .title-widget-adv span {
  font-size: 18px;
}
.type-1911 .img-responsive {
  width: 100%;
  height: 395px;
}
.type-1911 .swiper1911 {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.type-1911 .swiper1911 .promotion {
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 100%;
}
.type-1911 .swiper1911 h3 {
  font-size: 24px;
}
.type-1911 .swiper1911 h2 {
  font-size: 20px;
}
.type-1911 .swiper1911 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1911 .swiper1911 .next1911,
.type-1911 .swiper1911 .prev1911 {
  width: 20px;
  height: 40px;
  line-height: 40px;
  background: #333 none repeat scroll 0 0;
  text-align: center;
}
.type-1911 .swiper1911 .arrow1911 {
  display: none;
}
.type-1911 .swiper1911 .next1911 {
  right: 0;
}
.type-1911 .swiper1911 .prev1911 {
  left: 0;
}
.type-1911 .swiper1911:hover .arrow1911 {
  display: block;
}
@media (max-width: 480px) and (min-width: 320px) {
  .type-1911 .img-responsive {
    height: 679px !important;
  }
  .type-1911 .promotion h3 {
    font-size: 18px;
  }
  .type-1911 .promotion h2 {
    font-size: 16px;
  }
  .type-1911 .title-widget-adv {
    font-size: 25px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .type-1911 {
    margin-top: 50px;
  }
  .type-1911 .img-responsive {
    height: 679px !important;
  }
  .type-1911 .promotion h3 {
    font-size: 25px;
  }
  .type-1911 .promotion h2 {
    font-size: 30px;
  }
  .type-1911 .title-widget-adv {
    font-size: 25px;
  }
}
